
body{
    text-align: center;
    width: 1200px;
    margin: auto;
    background-color: antiquewhite;
}
header{
    background-color: blueviolet;
    border-radius: 50%;
}
main{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 500px;
}
figure{
    padding-bottom: 20px;
}
form{
display: flex;
justify-content: space-evenly;
}


