
body{
    text-align: center;
    width: 1200px;
    margin: auto;
    background-color: antiquewhite;
}

img{
    width: 500px;
}
figure{
    padding-bottom: 20px;
}
figcaption p{
    text-transform: uppercase;
}


